* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
}
body {
  background-color: rgb(11, 19, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------- CHECKBOX STYLE ---------------- */

/* Basic styling */

[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  color: rgb(0, 102, 255);
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */

[type='checkbox']:checked {
  background-color: currentcolor;
}

[type='checkbox']:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */

[type='checkbox']:disabled {
  background-color: #ccd3d8;
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */

[type='checkbox']::-ms-check {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

[type='checkbox']:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/*----CENTRALIZE-CLASSES----*/
.c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*----CENTRALIZE-CLASSES-END----*/

.to-do-list {
  width: 600px;

  padding: 25px 50px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 15px 2px black;
  overflow: hidden;
}

/*----HEADER----*/

#headerContent {
  position: relative;
  width: 100%;
}

#headerContainer > h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin: 2px;
}
[data-task='input'] {
  width: 90%;
  height: 45px;
  border: 0;
  font-size: 1.5rem;
  padding: 5px 2rem;
  border-radius: 5px;
  border: 1px solid rgb(211, 209, 209);
}

button[data-task] {
  width: 45px;
  height: 45px;
  margin-left: 5px;
  display: inline;
  border: 0;
  color: white;
  background-color: rgb(0, 102, 255);
  padding: 3.5px 10px;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  transition: 200ms;
}
button[data-task]:hover {
  cursor: pointer;
  background-color: rgb(0, 83, 192);
}

[data-task='error'] {
  padding: 0px 10px;
  margin: 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  opacity: 0;
  color: rgb(255, 0, 0);
  transition: 300ms;
}
[data-task='error'].active {
  opacity: 1;
}
/*----HEADER-END----*/

/*----SECTION----*/
#tasksWrapper {
  width: 100%;
  height: 100%;
  justify-content: start;
}

#tasksWrapper div,
#tasksWrapper div [data-task='info'] {
  margin-top: 10px;
  font-size: 1.5rem;
}

#tasksWrapper > button {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  margin-top: 10px;
}

#tasks {
  width: 100%;
  height: 380px;
  border: 1px solid rgb(211, 209, 209);
  padding: 10px;
  border-radius: 5px;
  overflow-y: scroll;
  justify-content: start;
}

#tasks::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
  height: 5px; /* A altura só é vista quando a rolagem é horizontal */
}

#tasks::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

#tasks::-webkit-scrollbar-thumb {
  background-color: #e6e7e7;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 45px;
  line-height: 45px;

  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: #e6e7e7;
  margin: 10px 0px;
}
.task input {
  margin: 10px;
}
.task input:checked ~ h1 {
  text-decoration: line-through;
}

.task h1 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.task button {
  color: white;
  height: 30px;
  width: 30px;
  font-size: 1.25rem;
  background-color: rgb(0, 102, 255);
  margin: 0px 5px;
  border-radius: 5px;
  transition: 300ms;
}
.task button:hover {
  cursor: pointer;
  background-color: rgb(34, 80, 204);
}
/*----SECTION-END----*/

/*----FOOTER----*/
.footer {
  position: absolute;
  bottom: 0%;
  width: 500px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;

  box-shadow: 2px 2px 15px 2px black;
  background-color: rgb(0, 102, 255);
}

.footer .text {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.footer .text:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .to-do-list {
    width: 100%;
    padding: 25px 30px;
    height: 100%;
  }
  .footer {
    display: none;
    width: 90%;
  }
}
